apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "nginx.fullname" . }}
  labels:
    app: {{ template "nginx.name" . }}
    chart: {{ template "nginx.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "nginx.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "nginx.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/v1/metrics
              port: 80
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /api/v1/metrics
              port: 80
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 15
          volumeMounts:
            - name: {{ template "nginx.fullname" . }}-conf-vol
              mountPath: /etc/nginx/nginx.conf # mount nginx-conf volume to /etc/nginx
              subPath: nginx.conf
            - name: {{ template "nginx.fullname" . }}-default-vol
              mountPath: /etc/nginx/conf.d/default.conf # mount nginx-conf volume to /etc/nginx
              subPath: default.conf
            - name: log
              mountPath: /var/log/nginx
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: {{ template "nginx.fullname" . }}-conf-vol
          configMap:
            name: {{ template "nginx.fullname" . }}-conf # place ConfigMap `nginx-conf` on /etc/nginx
            items:
            - key: nginx.conf
              path: nginx.conf
        - name: {{ template "nginx.fullname" . }}-default-vol
          configMap:
            name: {{ template "nginx.fullname" . }}-default # place ConfigMap `nginx-conf` on /etc/nginx
            items:
            - key: default.conf
              path: default.conf
        - name: log
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
      {{- end }}